@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.topNavDiv{
  width: 100%;
}

.sideNavDiv{
  width: 100%;
}

body{
  background-color: #EEEEEE;
  background-image: url('./../public/Tile-Background.jpg');
}

.colPrimary{
  background-color: #06113C;
}

.colSecondary{
  background-color: #FF8C32;
}

.colAccent{
  background-color: #DDDDDD;
}

.skew{
  transform: skew(-30deg, 0deg);
}

.unskew{
  transform: skew(30deg, 0deg);
}

.btnFontCol{
  color:#EEEEEE;
}

.borderCol{
  border-color: #DDDDDD;
}

.tiles{
  border-color: #FF8C32;
  color: #06113C;
  font-family: Arial, Helvetica, sans-serif;
}

.subBtn{
  background-color: #06113C;
}

.subBtnDis{
  background-color: unset;
}
/* body{
  background-image: url('../public/bg-background.jpg');
  background-size: cover;
} */
/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
